<!DOCTYPE html>
<html ng-app="homeworkQuestions">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homework Questions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="custom.css">
</head>
<body>
  <div class="container" ng-controller="HomeworkController">
    <div class="row">
    <div class="col-md-12">
      <nav>
        <div class="text-center">
          <ul class="pagination">
            <li
              ng-repeat="question in allQuestions"
              class="
                {{ ($index === activeQuestion) ? 'active':'disabled' }}
                {{ (question.questionState === 'answered') ? 'answered':'unanswered' }}
                {{ (question.correctness === 'correct') ? 'correct':'incorrect' }}
              ">
              <a href="#">Question {{ $index + 1 }}</a></li>
          </ul>
        </div>
      </nav>
    </div>
    </div> <!-- row -->

    <div class="row">
    <div
      ng-repeat="question in allQuestions"
      class="col-md-6 col-md-offset-3 text-center {{ ($index === activeQuestion) ? 'ng-show':'ng-hide' }}">
      <div class="box">
        <div class="box-content">
          <h3>{{ question.questionText }}</h3>
          <hr>
          <!-- If there's a picture, maybe it could be inserted here? -->
          <a
            href="#"
            ng-repeat="answer in allQuestions[$index].possibleAnswers"
            class="btn btn-block btn-default"
            style="white-space: normal;"
            ng-class="{
              selected:isSelected($parent.$index, $index),
              correct:isCorrect($parent.$index, $index)
              }"
            ng-click="selectAnswer($parent.$index, $index); ">
            {{ answer.text }}
          </a>
        </div>
      </div>
      <br>
      <div
        class="btn btn-default {{ (question.questionState === 'answered') ? 'ng-show':'ng-hide' }}"
        ng-click="nextQuestion()">Continue
      </div>
    </div>
    <div class="results {{ (activeQuestion === totalQuestions) ? 'ng-show':'ng-hide' }}">
      <h3>Results</h3>
      <p>You scored {{ percentage }}% by correctly answering {{ score }} of {{ totalQuestions }} questions.</p>
    </div> <!-- results -->
    </div> <!-- row -->

  </div> <!-- container -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="HomeworkController.js"></script>
</body>
</html>