<!DOCTYPE html>
<html ng-app="questionsApp">
<head>
  <meta charset="utf-8">
  <title>Create Question</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-controller="CreateQuestionController">
  <div class="container">
    <h1 class="text-center">Question Creation Page</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form id="createQuestion" ng-submit="submitQuestion()">
          <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Enter Question" ng-model="question.text"></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Answer Choice 1" ng-model="question.answerChoice1">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Answer Choice 2" ng-model="question.answerChoice2">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Answer Choice 3" ng-model="question.answerChoice3">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Answer Choice 4" ng-model="question.answerChoice4">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div> 
    </div>
  </div> <!-- container -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="CreateQuestionController.js"></script>
</body>
</html>
